<script lang="ts">
	import Posts from '$components/Posts.svelte';
	import Sidebar from "$components/Sidebar.svelte";

    let user = {
        valid: true,
        username: "Fire-The-Fox",
    };

</script>
<div class="bg-zinc-900 w-screen">
    <Sidebar />
    <main class="pl-14 flex flex-col text-center text-neutral-50">
        <div class="flex flex-row m-auto justify-center website-title pt-20 pb-5">
            <h1 class="text-heap-overflow-blue">
                Heap
            </h1>
            <h1>
                Overflow
            </h1>
        </div>
        <h2 class="description">By <span class="text-heap-overflow-blue description">developers</span> for <span class="text-heap-overflow-blue description">developers</span></h2>

        {#if user.valid}
            <h3 class="text-2xl mt-5">Welcome back, <span class="text-heap-overflow-blue">{user.username}</span>!</h3>
        {:else}
            <h3 class="text-2xl mt-5">Welcome!</h3>
        {/if}
        <h1 class="text-left ml-12 mt-[250px] text-xl">Hey, here you can find some recent posts</h1>
        <Posts />
        <div class="h-96"></div>
    </main>
</div>

<style>
    /*noinspection CssUnknownTarget*/
    @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
    
    .website-title {
        font-size: clamp(2rem, 10vw, 5rem);
    }

    .description {
        font-size: clamp(1rem, 2rem, 5rem);
    }
</style>