<script lang="ts">

    interface Post {
        id: number,
        title: string,
        owner: string,
        tags: string[],
    }

    const toPost = (id: number) => {
        window.location.href = `${window.location.origin}/post/${id}`;
    }

    export let data: Post;
</script>

<!-- svelte-ignore a11y-click-events-have-key-events -->
<div class="bg-cool-black-hover bg-opacity-25 backdrop-blur-lg rounded drop-shadow-md p-2 hover:drop-shadow-xl transition-all ease-in-out cursor-pointer" on:click={() => toPost(data.id)}>
    <h1 class="text-lg">{data.title}</h1>
    <h3 class="text-gray-400 mb-2 text-sm">By {data.owner}</h3>
    <div class="flex flex-row gap-2 leading-7 align-middle text-center mt-5">
        {#each data.tags as tag}
            <span class="bg-heap-overflow-blue bg-opacity-10 pl-2 pr-2 rounded-md text-heap-overflow-blue" >{tag}</span>
        {/each}
    </div>
</div>