<script lang="ts">
	import { onMount } from "svelte";
    import Post from "$components/Post.svelte";
    interface Post_type {
        id: number,
        title: string,
        owner: string,
        tags: string[],
    }

    let el: HTMLDivElement;

    onMount(async () => {
        const res = await fetch(`${window.location.origin}/posts.json`);
        const data: Post_type[] = await res.json();
        data.forEach(element => {
            new Post({ target: el, props: { data: element } });
        });
    });
</script>

<div bind:this={el} class="flex flex-col gap-5 text-left ml-12 mt-7 mr-12 p-5 rounded-lg border border-neutral-50">
    
</div>