<script>
    import { createAvatar } from '@dicebear/avatars';
    import * as style from '@dicebear/avatars-identicon-sprites';
	import SidebarIcon from './SidebarIcon.svelte';

    const randomString = Math.random().toString(36).substring(7);
    let svg = createAvatar(style, {
        seed: randomString,
        width: 38,
        height: 38,
        scale: 80,
        translateY: 5,
        translateX: 2.5
    });

    const toHome = () => {
        window.location.href = `${window.location.origin}/`;
    }
</script>

<div class="w-14 bg-cool-black sidebar flex space-y-2 flex-col items-start gap-y-12 drop-shadow-xl fixed top-0 left-0">
    <span class="ml-2 mt-2">
        <button class="hover:bg-cool-black-hover border-neutral-50 border rounded-md w-10 m-auto h-10 grid group relative underline duration-300" on:click={toHome}>
            <img src="/logo.svg" class="w-6 m-auto" alt="" />
            <span class="absolute hidden group-hover:flex -right-4 h-10 translate-x-full w-48 px-2 py-1 bg-cool-black-hover rounded-lg text-center text-white text-sm before:content-[''] before:absolute before:top-1/2  before:right-[100%] 
            before:-translate-y-1/2 before:border-8 before:border-y-transparent before:border-l-transparent before:border-r-cool-black-hover align-middle">
            <div class="m-auto">Home Page</div>
        </span>
        </button>
    </span>
    <SidebarIcon iconName="faPlus" tooltip="Create Forum" />
    <SidebarIcon iconName="faSearch" tooltip="Search For Forum" />
    <span class="flex-grow">
    </span>
    <span class="pb-2">
        <button class="m-auto w-10 h-10 grid text-center ml-2 hover:bg-cool-black-hover rounded-md group relative underline duration-300">
            {@html svg}
            <span class="absolute hidden group-hover:flex -right-4 h-10 translate-x-full w-48 px-2 py-1 bg-cool-black-hover rounded-lg text-center text-white text-sm before:content-[''] before:absolute before:top-1/2  before:right-[100%]
        before:-translate-y-1/2 before:border-8 before:border-y-transparent before:border-l-transparent before:border-r-cool-black-hover align-middle">
        <div class="m-auto">
            Account
        </div>
            </span>
        </button>
    </span>
</div>

<style>
    .sidebar {
        height: 100vh;
        /*noinspection CssInvalidPropertyValue*/
        max-height: stretch;
    }
</style>