<script lang="ts">
	import Fa from 'svelte-fa';
	import * as faIcons from '@fortawesome/free-solid-svg-icons';
    export let iconName: string;
    export let tooltip: string;
</script>

<span>
    <button class="m-auto w-10 h-10 grid text-center ml-2 hover:bg-cool-black-hover rounded-md group relative underline duration-300">
        <Fa icon={faIcons[iconName]} class="text-xl w-full text-center text-neutral-300 hover:text-neutral-50 translate-y-1/2" />
        <span class="absolute hidden group-hover:flex -right-4 h-10 translate-x-full w-48 px-2 py-1 bg-cool-black-hover rounded-lg text-center text-white text-sm before:content-[''] before:absolute before:top-1/2  before:right-[100%]
        before:-translate-y-1/2 before:border-8 before:border-y-transparent before:border-l-transparent before:border-r-cool-black-hover align-middle">
    <div class="m-auto">
        {tooltip}    
    </div></span>
    </button>
</span>